[Unit]
Description=Run Innotech Scraper every 5 minutes

[Timer]
OnCalendar=*:2,7,12,17,22,27,32,37,42,47,52,57
Persistent=false

[Install]
WantedBy=timers.target
